<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="Anil z" name="author">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
<meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

<!-- SITE TITLE -->
<title>Uneak</title>
<!-- Favicon Icon -->
<link rel="shortcut icon" type="image/x-icon" href="assets\images\favicon.png">
<!-- Animation CSS -->
<link rel="stylesheet" href="/assets\css\animate.css">	
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="/assets\bootstrap\css\bootstrap.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 
<!-- Icon Font CSS -->
<link rel="stylesheet" href="/assets\css\all.min.css">
<link rel="stylesheet" href="/assets\css\ionicons.min.css">
<link rel="stylesheet" href="/assets\css\themify-icons.css">
<link rel="stylesheet" href="/assets\css\linearicons.css">
<link rel="stylesheet" href="/assets\css\flaticon.css">
<link rel="stylesheet" href="/assets\css\simple-line-icons.css">
<!--- owl carousel CSS-->
<link rel="stylesheet" href="/assets\owlcarousel\css\owl.carousel.min.css">
<link rel="stylesheet" href="/assets\owlcarousel\css\owl.theme.css">
<link rel="stylesheet" href="/assets\owlcarousel\css\owl.theme.default.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="/assets\css\magnific-popup.css">
<!-- jquery-ui CSS -->
<link rel="stylesheet" href="/assets\css\jquery-ui.css">
<!-- Slick CSS -->
<link rel="stylesheet" href="/assets\css\slick.css">
<link rel="stylesheet" href="/assets\css\slick-theme.css">
<!-- Style CSS -->
<link rel="stylesheet" href="/assets\css\style.css">
<link rel="stylesheet" href="/assets\css\responsive.css">

</head>

<body>

<!-- LOADER -->
<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->

<!-- Home Popup Section -->
<!-- <div class="modal fade subscribe_popup" id="onload-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
                </button>
                <div class="row no-gutters">
                    <div class="col-sm-5">
                    	<div class="background_bg h-100" data-img-src="assets/images/popup_img.jpg"></div>
                    </div>
                    <div class="col-sm-7">
                        <div class="popup_content">
                            <div class="popup-text">
                                <div class="heading_s4">
                                    <h4>Subscribe and Get 25% Discount!</h4>
                                </div>
                                <p>Subscribe to the newsletter to receive updates about new products.</p>
                            </div>
                            <form method="post">
                            	<div class="form-group">
                                	<input name="email" required="" type="email" class="form-control rounded-0" placeholder="Enter Your Email">
                                </div>
                                <div class="form-group">
                                	<button class="btn btn-fill-line btn-block text-uppercase rounded-0" title="Subscribe" type="submit">Subscribe</button>
                                </div>
                            </form>
                            <div class="chek-form">
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                    <label class="form-check-label" for="exampleCheckbox3"><span>Don't show this popup again!</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div> -->
<!-- End Screen Load Popup Section --> 

<!-- START HEADER -->
{{>header}}
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Order Details</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="/" style="color:#292A2E">Home</a></li>
                    <li class="breadcrumb-item active" style="color:#292A2E"><a href="/order/search?id={{order._id}}" style="color:#292A2E">Order Details</a></li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        <div class="row">
            <!-- <div class="col-lg-6">
            	<div class="toggle_info">
                	<span><i class="fas fa-user"></i>Returning customer? <a href="#loginform" data-toggle="collapse" class="collapsed" aria-expanded="false" style="color:#FF324D">Click here to login</a></span>
                </div>
                <div class="panel-collapse collapse login_form" id="loginform">
                    <div class="panel-body">
                    	<p>If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                    	<form method="post">
                            <div class="form-group">
                                <input type="text" required="" class="form-control" name="email" placeholder="Username Or Email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" required="" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="login_footer form-group">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                        <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                    </div>
                                </div>
                                <a href="#">Forgot password?</a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-fill-out btn-block" name="login">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
            {{!-- coupon --}}
            {{!-- <div class="col-lg-6">
            	<div class="toggle_info">
            		<span><i class="fas fa-tag"></i>Have a coupon? <a href="#coupon" data-toggle="collapse" class="collapsed" aria-expanded="false" style="color:#FF324D">Click here to enter your code</a></span>
                </div>
                <div class="panel-collapse collapse coupon_form" id="coupon">
                    <div class="panel-body">
                    	<p>If you have a coupon code, please apply it below.</p>
                        <div class="coupon field_form input-group">
                            <input type="text" value="" class="form-control" placeholder="Enter Coupon Code..">
                            <div class="input-group-append">
                                <button class="btn btn-fill-out btn-sm" type="submit">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
        <div class="row">
            <div class="col-12">
            	<div class="medium_divider"></div>
            	<div class="divider center_icon"><i class="linearicons-credit-card" style="background-color:#292A2E; color:white"></i></div>
            	<div class="medium_divider"></div>
            </div>
        </div>
        <form method="post">
        <div class="row">
        	<div class="col-md-6">
            	<div class="heading_s1">
            		<h4 style="color:white">Billing Details</h4>
                </div>
                    <div class="form-group">
                        <input type="text" required="" disabled value="{{order.address.name}}" class="form-control" name="name" placeholder="Name *">
                    </div>
                    <div class="form-group">
                        <input class="form-control" disabled required="" value="{{order.address.landmark}}" type="text" name="landmark" placeholder="Company Name/Landmark">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" disabled value="{{order.address.address_line1}}" name="address_line1" required="" placeholder="Address *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" disabled value="{{order.address.address_line2}}" name="address_line2" required="" placeholder="Address line 2">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" disabled type="text" value="{{order.address.city}}" name="city" placeholder="City *">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" disabled type="text" name="state" value="{{order.address.state}}" placeholder="State *">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required=""  disabled type="text" name="country" value="{{order.address.country}}" placeholder="country *">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" disabled type="text" name="pincode" value="{{order.address.pincode}}" placeholder="Pincode *">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" disabled type="text" name="contact" value="{{order.address.contact}}" placeholder="Phone*">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" disabled type="text" value="{{order.address.email}}" name="email" placeholder="Email address *">
                    </div>
                    {{!-- <div class="form-group">
                        <div class="chek-form">
                            <div class="custome-checkbox">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="createaccount">
                                <label class="form-check-label label_info" for="createaccount"><span style="color:white">Create an account?</span></label>
                            </div>
                        </div>
                    </div> --}}
                    {{!-- <div class="form-group create-account">
                        <input class="form-control" required="" type="password" placeholder="Password" name="password">
                    </div> --}}
                    
                
            </div>
            <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>{{#if user.isAdmin}}Order Details {{else}}Your Orders{{/if}}</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                              {{#each products}}
                                <tr>
                                    <td><a style="color: #212529;" href="/product/detail/{{this.item.slug}}">{{this.item.name}}</a><br> Size Choosed <span style="text-transform: uppercase;">{{this.item.size_selected}}</span> <span class="product-qty">x {{qty}}</span></td>
                                    <td>₹ {{this.price}}</td>
                                </tr>
                                <tr class="product_color_switch">
                                  <td>Color Choosed <span class="active" data-color="{{this.item.color_selected}}"></span></td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Referal Discount</th>
                                    <td class="product-subtotal">-₹ {{order.cart.referal_bonus}}</td>
                                </tr>
                                <tr>
                                    <th>SubTotal</th>
                                    <td class="product-subtotal">₹ {{order.cart.totalPrice}}</td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td>Free Shipping</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="product-subtotal">₹ {{order.cart.totalPrice}}</td>
                                </tr>
                                {{#if user.isAdmin}}
                                <tr>
                                    <th><h5>Ordered By:</h5></th>
                                    <td class="product-subtotal"></td>
                                </tr>
                                <tr>
                                    <th>Name:</th>
                                    <td class="product-subtotal">{{userDetail.name}}</td>
                                </tr>
                                <tr>
                                    <th>Contact no.</th>
                                    <td class="product-subtotal">{{userDetail.contact}}</td>
                                </tr>
                                <tr>
                                    <th>E mail</th>
                                    <td class="product-subtotal">{{userDetail.email}}</td>
                                </tr>
                                {{/if}}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
<div class="section bg_default small_pt small_pb">
	<div class="container">	
    	<div class="row align-items-center">	
            <div class="col-md-6">
                <div class="heading_s1 mb-md-0 heading_light">
                    <h3>Subscribe Our Newsletter</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter_form">
                    <form>
                        <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                        <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
{{>footer}}
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 

<!-- Latest jQuery --> 
<script src="/assets\js\jquery-1.12.4.min.js"></script> 
<!-- jquery-ui --> 
<script src="/assets\js\jquery-ui.js"></script>
<!-- popper min js -->
<script src="/assets\js\popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap --> 
<script src="/assets\bootstrap\js\bootstrap.min.js"></script> 
<!-- owl-carousel min js  --> 
<script src="/assets\owlcarousel\js\owl.carousel.min.js"></script> 
<!-- magnific-popup min js  --> 
<script src="/assets\js\magnific-popup.min.js"></script> 
<!-- waypoints min js  --> 
<script src="/assets\js\waypoints.min.js"></script> 
<!-- parallax js  --> 
<script src="/assets\js\parallax.js"></script> 
<!-- countdown js  --> 
<script src="/assets\js\jquery.countdown.min.js"></script> 
<!-- imagesloaded js --> 
<script src="/assets\js\imagesloaded.pkgd.min.js"></script>
<!-- isotope min js --> 
<script src="/assets\js\isotope.min.js"></script>
<!-- jquery.dd.min js -->
<script src="/assets\js\jquery.dd.min.js"></script>
<!-- slick js -->
<script src="/assets\js\slick.min.js"></script>
<!-- elevatezoom js -->
<script src="/assets\js\jquery.elevatezoom.js"></script>
<!-- scripts js --> 
<script src="/assets\js\scripts.js"></script>

</body>
</html>