<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="Anil z" name="author">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
<meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

<!-- SITE TITLE -->
<title>Uneak</title>
<!-- Favicon Icon -->
<link rel="shortcut icon" type="image/x-icon" href="/assets\images\favicon.png">
<!-- Animation CSS -->
<link rel="stylesheet" href="/assets\css\animate.css">	
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="/assets\bootstrap\css\bootstrap.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 
<!-- Icon Font CSS -->
<link rel="stylesheet" href="/assets\css\all.min.css">
<link rel="stylesheet" href="/assets\css\ionicons.min.css">
<link rel="stylesheet" href="/assets\css\themify-icons.css">
<link rel="stylesheet" href="/assets\css\linearicons.css">
<link rel="stylesheet" href="/assets\css\flaticon.css">
<link rel="stylesheet" href="/assets\css\simple-line-icons.css">
<!--- owl carousel CSS-->
<link rel="stylesheet" href="/assets\owlcarousel\css\owl.carousel.min.css">
<link rel="stylesheet" href="/assets\owlcarousel\css\owl.theme.css">
<link rel="stylesheet" href="/assets\owlcarousel\css\owl.theme.default.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="/assets\css\magnific-popup.css">
<!-- jquery-ui CSS -->
<link rel="stylesheet" href="/assets\css\jquery-ui.css">
<!-- Slick CSS -->
<link rel="stylesheet" href="/assets\css\slick.css">
<link rel="stylesheet" href="/assets\css\slick-theme.css">
<!-- Style CSS -->
<link rel="stylesheet" href="/assets\css\style.css">
<link rel="stylesheet" href="/assets\css\responsive.css">

</head>

<body>

<!-- LOADER -->
<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->

<!-- Home Popup Section -->
<!-- <div class="modal fade subscribe_popup" id="onload-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
                </button>
                <div class="row no-gutters">
                    <div class="col-sm-5">
                    	<div class="background_bg h-100" data-img-src="assets/images/popup_img.jpg"></div>
                    </div>
                    <div class="col-sm-7">
                        <div class="popup_content">
                            <div class="popup-text">
                                <div class="heading_s4">
                                    <h4>Subscribe and Get 25% Discount!</h4>
                                </div>
                                <p>Subscribe to the newsletter to receive updates about new products.</p>
                            </div>
                            <form method="post">
                            	<div class="form-group">
                                	<input name="email" required="" type="email" class="form-control rounded-0" placeholder="Enter Your Email">
                                </div>
                                <div class="form-group">
                                	<button class="btn btn-fill-line btn-block text-uppercase rounded-0" title="Subscribe" type="submit">Subscribe</button>
                                </div>
                            </form>
                            <div class="chek-form">
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                    <label class="form-check-label" for="exampleCheckbox3"><span>Don't show this popup again!</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div> -->
<!-- End Screen Load Popup Section --> 

<!-- START HEADER -->
{{>header}}
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1 style="text-transform: uppercase;">{{#if category}}{{category}}{{else}}{{search}}{{/if}}</h1>
                </div>
            </div>
            <div class="col-md-6"> 
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="/" style="color:black">Home</a></li>
                    <li class="breadcrumb-item active" style="color:black">{{#if category}}{{category}}{{else}}{{search}}{{/if}}</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
{{#if products}}
<div class="section">
	<div class="container">
    	<div class="row">
			<div class="col-12">
            	<div class="row align-items-center mb-4 pb-1">
                    <div class="col-12">
                        <div class="product_header">
                            
                            <div class="product_header_right">
                            	<div class="products_view">
                                    <a href="javascript:Void(0);" class="shorting_icon grid"><i class="ti-view-grid"></i></a>
                                    <a href="javascript:Void(0);" class="shorting_icon list active"><i class="ti-layout-list-thumb"></i></a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row shop_container list">
                    {{#each products}}
                    <div class="col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="/product/detail/{{slug}}">
                                    <img src="data:image/jpg;base64,{{images.0.image}}" alt="product_img1">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded below"></i> Add To Cart</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a href="/product/detail/{{slug}}" class="click_name">{{name}}</a></h6>
                                <div class="product_price">
                                    <span class="price">₹{{price}}</span>
                                    <del>₹{{fullprice}}</del>
                                    <div class="on_sale">
                                        <span>{{discount_percent}}% Off</span>
                                    </div>
                                </div>
                                <div class="pr_desc">
                                    <p>{{gist}}</p>
                                    
                                </div>
                                <div class="pr_switch_wrap">
                                    <div class="product_color_switch">
                                        <p>Category: <span style="text-transform: uppercase;display: contents;">{{category}}</span></p>
                                        <p>Material: <span style="text-transform: uppercase;display: contents;">{{material}}</span></p>
                                        
                                    {{#each colors}}
                                        <span data-color="{{this}}"></span>
                                    {{/each}}    
                                    </div>
                                </div>
                                <div class="list_product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li class="add-to-cart"><a href="/product/detail/{{slug}}"><i class="icon-basket-loaded" style="color:white"></i> More Details</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    
                </div>
                {{#if pagination}}
        		<div class="row">
                    <div class="col-12">
                        <ul class="pagination mt-3 justify-content-center pagination_style1">
                          {{#paginate pagination type="previous"}}
                          <li class="page-item"><a class="page-link" href="{{append}}page={{n}}"><i class="linearicons-arrow-left"></i></a></li>
                          {{/paginate}}
                            {{#paginate pagination type="middle" limit="7"}}
                            
                            <li class="page-item active"><a class="page-link" id="page{{n}}" href="{{#if append}}{{append}}page={{n}}{{else}}?page={{n}}{{/if}}">{{n}}</a></li>
    {{/paginate}}
    
    {{#paginate pagination type="next"}}
                            <li class="page-item"><a class="page-link" href="{{append}}page={{n}}"><i class="linearicons-arrow-right"></i></a></li>
                            
    {{/paginate}}
                        </ul>
                    </div>
                </div>
                {{/if}}
        	</div>
        </div>
    </div>
</div>
{{else}}
<div class="container">
  <div class="row">
			<div class="col-12">
<div class="row justify-content-center">
            <div class="col-md-8">
              <br>
              <br>
              <br>
              <br>
              <br>
              
                <div class="text-center order_complete">
                	<i class="fas fa-times-circle"></i>
                    <div class="heading_s1">
                  	<h3 style="color:white">{{#if message}}{{{message}}}{{else}}No Product Available In This Category <br> At The Moment {{/if}}</h3>
                    </div>
                    <a href="/" class="btn btn-fill-out">Continue Shopping</a>
                </div>
                <br>
              <br>
              <br>
              <br>
              <br>
            </div>
        </div>
      </div>
  </div>
        </div>
{{/if}}
<!-- END SECTION SHOP -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
<div class="section bg_default small_pt small_pb">
	<div class="container">	
    	<div class="row align-items-center">	
            <div class="col-md-6">
                <div class="heading_s1 mb-md-0 heading_light">
                    <h3>Subscribe Our Newsletter</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter_form">
                    <form>
                        <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                        <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
{{>footer}}
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 

<!-- Latest jQuery --> 
<script src="/assets\js\jquery-1.12.4.min.js"></script> 
<!-- jquery-ui --> 
<script src="/assets\js\jquery-ui.js"></script>
<!-- popper min js -->
<script src="/assets\js\popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap --> 
<script src="/assets\bootstrap\js\bootstrap.min.js"></script> 
<!-- owl-carousel min js  --> 
<script src="/assets\owlcarousel\js\owl.carousel.min.js"></script> 
<!-- magnific-popup min js  --> 
<script src="/assets\js\magnific-popup.min.js"></script> 
<!-- waypoints min js  --> 
<script src="/assets\js\waypoints.min.js"></script> 
<!-- parallax js  --> 
<script src="/assets\js\parallax.js"></script> 
<!-- countdown js  --> 
<script src="/assets\js\jquery.countdown.min.js"></script> 
<!-- imagesloaded js --> 
<script src="/assets\js\imagesloaded.pkgd.min.js"></script>
<!-- isotope min js --> 
<script src="/assets\js\isotope.min.js"></script>
<!-- jquery.dd.min js -->
<script src="/assets\js\jquery.dd.min.js"></script>
<!-- slick js -->
<script src="/assets\js\slick.min.js"></script>
<!-- elevatezoom js -->
<script src="/assets\js\jquery.elevatezoom.js"></script>
<!-- scripts js --> 
<script src="/assets\js\scripts.js"></script>

</body>
</html>